
<section class="first-view center-vertical">
<h1>SDGsプロジェクト</h1>
<div>
<% unless session[:user] %>
	    <form action="/signin" method="POST" class="form-inline" style="display:inline-flex; height: 18px;">
        <input name="name" placeholder="ユーザー名"><br>
        <input type="password" name="password" placeholder="パスワード"><br>
        <input type="submit" value="ログイン"><br>
      </form>
    </div>
    <% else %>

  <% end %>
</section>
